.tiki-top-nav-light {
  --tiki-top-bg: linear-gradient(to right, #bebc24 0%, #ded319 53%, #e7d915 100%);
  --tiki-top-color: #212529;
  --tiki-top-hover-color: #383f45;
  --tiki-top-text-color: #383f45;
  --tiki-top-border: solid #000;
}
.tiki-topbar-nav-light {
  --tiki-topbar-bg: #063035;
  --tiki-topbar-color: #fff;
  --tiki-topbar-hover-color: darken(#fff, 8%);
  --tiki-topbar-text-color: darken(#fff, 8%);
}
.tiki-top-nav-dark {
  --tiki-top-bg: linear-gradient(to right, #bebc24 0%, #ded319 53%, #e7d915 100%);
  --tiki-top-color: #000;
  --tiki-top-hover-color: #343a40;
  --tiki-top-text-color: #343a40;
  --tiki-top-border: solid #000;
}
.tiki-topbar-nav-dark {
  --tiki-topbar-bg: #332f02;
  --tiki-topbar-color: #fff;
  --tiki-topbar-hover-color: darken(#fff, 8%);
  --tiki-topbar-text-color: darken(#fff, 8%);
}
.tiki-top-nav-light, .tiki-top-nav-dark {
  --tiki-top-border-top-width: 0px;
  --tiki-top-border-bottom-width: 5px;
}
header.navbar.fixed-top {
  --tiki-fixed-top-border-top-width: 0px;
  --tiki-fixed-top-border-right-width: 0px;
  --tiki-fixed-top-border-bottom-width: 5px;
  --tiki-fixed-top-border-left-width: 0px;
  --tiki-topbar-light-border-color: #000;
}
.tiki .tiki-admin-top-nav-light, .tiki .tiki-admin-aside-nav-light {
  --tiki-admin-top-nav-color: #212529;
  --tiki-admin-top-nav-hover-color: #383f45;
  --tiki-admin-top-nav-hover-bg: none ;
  --tiki-admin-aside-nav-bg: linear-gradient(to right, #bebc24 0%, #ded319 53%, #e7d915 100%);
  --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-color);
  --tiki-admin-aside-nav-hover-color: var(--tiki-admin-top-nav-hover-color);
  --tiki-admin-dropdown-bg: #baba25;
  --tiki-admin-dropdown-link-color: #212529;
  --tiki-admin-dropdown-link-hover-color: #1a1a1a;
  --tiki-admin-dropdown-link-hover-bg: #638637;
}
.tiki.tiki-admin .top_modules.navbar-light-parent {
  --tiki-admin-top-nav-bg: linear-gradient(to right, #bebc24 0%, #ded319 53%, #e7d915 100%);
}
.tiki .tiki-admin-top-nav-dark, .tiki .tiki-admin-aside-nav-dark {
  --tiki-admin-top-nav-color: #52702E;
  --tiki-admin-top-nav-hover-color: #52702E;
  --tiki-admin-aside-nav-bg: linear-gradient(to right, #bebc24 0%, #ded319 53%, #e7d915 100%) !important;
  --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-color);
  --tiki-admin-aside-nav-hover-color: var(--tiki-admin-top-nav-hover-color);
  --tiki-admin-dropdown-link-color: #fff;
  --tiki-admin-dropdown-bg: #8a8309;
  --tiki-admin-dropdown-link-hover-color: #1a1a1a;
  --tiki-admin-dropdown-link-hover-bg: #638637;
}
.tiki.tiki-admin .top_modules.navbar-dark-parent {
  --tiki-admin-top-nav-bg: linear-gradient(to right, #bebc24 0%, #ded319 53%, #e7d915 100%) !important;
}
.accordion {
  --bs-accordion-active-bg: #063035;
  --bs-accordion-active-color: #fff;
  --bs-accordion-btn-bg: #ebdc14;
}
.header_outer, .layout_basic #top_modules, .postbody-title {
  background: #bebc24;
  background: linear-gradient(to right, #bebc24 0%, #ded319 53%, #e7d915 100%);
}
.text-danger {
  color: #D63D00 !important;
}
.text-dark {
  color: #817804 !important;
}
.btn-dark {
  color: #fff;
  background-color: #817804;
  border-color: #817804;
}
.btn.btn-outline-primary {
  color: #80780A;
  border-color: #80780A;
}
.btn.btn-outline-success {
  color: #3A833A;
  border-color: #3A833A;
}
.btn.btn-outline-warning {
  color: #A2630B;
  border-color: #A2630B;
}
.btn.btn-outline-info {
  color: #6E7425;
  border-color: #6E7425;
}
.breadcrumb-item.active {
  color: var(--bs-secondary-color) !important;
}
.valid-feedback, .valid-tooltip {
  color: #288040;
}
.was-validated .form-check-input:invalid ~ .form-check-label, .form-check-input.is-invalid ~ .form-check-label, .invalid-feedback, .invalid-tooltip {
  color: #D13B00 !important;
}
.bg-danger .card-title, .bg-warning .card-title {
  color: #fff;
}
.badge.bg-primary, .badge.bg-warning, .badge.bg-success, .badge.bg-info {
  color: #000;
}
.page-item.disabled, .list-group-item.disabled {
  color: var(--bs-secondary-color) !important;
}
.progress-bar.bg-warning, .progress-bar.bg-info, .progress-bar.bg-success {
  color: #000;
}
.text-primary {
  color: #80780A !important;
}
.text-warning {
  color: #A0630E !important;
}
.text-success {
  color: #3A833A !important;
}
.text-info {
  color: #6E7425 !important;
}
:root, [data-bs-theme="light"] {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #ebdc14;
  --bs-secondary: #5E7F34;
  --bs-success: #5cb85c;
  --bs-info: #96a032;
  --bs-warning: #f0ad4e;
  --bs-danger: #D13B00;
  --bs-light: #ffffff;
  --bs-dark: #817804;
  --bs-primary-rgb: 235, 220, 20;
  --bs-secondary-rgb: 94, 127, 52;
  --bs-success-rgb: 92, 184, 92;
  --bs-info-rgb: 150, 160, 50;
  --bs-warning-rgb: 240, 173, 78;
  --bs-danger-rgb: 209, 59, 0;
  --bs-light-rgb: 255, 255, 255;
  --bs-dark-rgb: 129, 120, 4;
  --bs-primary-text-emphasis: #5e5808;
  --bs-secondary-text-emphasis: #263315;
  --bs-success-text-emphasis: #254a25;
  --bs-info-text-emphasis: #3c4014;
  --bs-warning-text-emphasis: #60451f;
  --bs-danger-text-emphasis: #541800;
  --bs-light-text-emphasis: #495057;
  --bs-dark-text-emphasis: #495057;
  --bs-primary-bg-subtle: #fbf8d0;
  --bs-secondary-bg-subtle: #dfe5d6;
  --bs-success-bg-subtle: #def1de;
  --bs-info-bg-subtle: #eaecd6;
  --bs-warning-bg-subtle: #fcefdc;
  --bs-danger-bg-subtle: #f6d8cc;
  --bs-light-bg-subtle: #fcfcfd;
  --bs-dark-bg-subtle: #ced4da;
  --bs-primary-border-subtle: #f7f1a1;
  --bs-secondary-border-subtle: #bfccae;
  --bs-success-border-subtle: #bee3be;
  --bs-info-border-subtle: #d5d9ad;
  --bs-warning-border-subtle: #f9deb8;
  --bs-danger-border-subtle: #edb199;
  --bs-light-border-subtle: #e9ecef;
  --bs-dark-border-subtle: #adb5bd;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #000;
  --bs-body-color-rgb: 0, 0, 0;
  --bs-body-bg: #fff;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-emphasis-color: #000;
  --bs-emphasis-color-rgb: 0, 0, 0;
  --bs-secondary-color: rgba(0, 0, 0, 0.75);
  --bs-secondary-color-rgb: 0, 0, 0;
  --bs-secondary-bg: #e9ecef;
  --bs-secondary-bg-rgb: 233, 236, 239;
  --bs-tertiary-color: rgba(0, 0, 0, 0.5);
  --bs-tertiary-color-rgb: 0, 0, 0;
  --bs-tertiary-bg: #f8f9fa;
  --bs-tertiary-bg-rgb: 248, 249, 250;
  --bs-heading-color: inherit;
  --bs-link-color: #52702E;
  --bs-link-color-rgb: 82, 112, 46;
  --bs-link-decoration: none;
  --bs-link-hover-color: #2a3a18;
  --bs-link-hover-color-rgb: 42, 57, 23;
  --bs-link-hover-decoration: none;
  --bs-code-color: #000;
  --bs-highlight-bg: #fff3cd;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #dee2e6;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-xxl: 2rem;
  --bs-border-radius-2xl: var(--bs-border-radius-xxl);
  --bs-border-radius-pill: 50rem;
  --bs-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --bs-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  --bs-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  --bs-focus-ring-width: 0.25rem;
  --bs-focus-ring-opacity: 0.25;
  --bs-focus-ring-color: rgba(235, 220, 20, 0.25);
  --bs-form-valid-color: #5cb85c;
  --bs-form-valid-border-color: #5cb85c;
  --bs-form-invalid-color: #D13B00;
  --bs-form-invalid-border-color: #D13B00;
}
[data-bs-theme="dark"] {
  color-scheme: dark;
  --bs-body-color: #adb5bd;
  --bs-body-color-rgb: 173, 181, 189;
  --bs-body-bg: #212529;
  --bs-body-bg-rgb: 33, 37, 41;
  --bs-emphasis-color: #fff;
  --bs-emphasis-color-rgb: 255, 255, 255;
  --bs-secondary-color: rgba(173, 181, 189, 0.75);
  --bs-secondary-color-rgb: 173, 181, 189;
  --bs-secondary-bg: #343a40;
  --bs-secondary-bg-rgb: 52, 58, 64;
  --bs-tertiary-color: rgba(173, 181, 189, 0.5);
  --bs-tertiary-color-rgb: 173, 181, 189;
  --bs-tertiary-bg: #2b3035;
  --bs-tertiary-bg-rgb: 43, 48, 53;
  --bs-primary-text-emphasis: #f3ea72;
  --bs-secondary-text-emphasis: #9eb285;
  --bs-success-text-emphasis: #9dd49d;
  --bs-info-text-emphasis: #c0c684;
  --bs-warning-text-emphasis: #f6ce95;
  --bs-danger-text-emphasis: #e38966;
  --bs-light-text-emphasis: #f8f9fa;
  --bs-dark-text-emphasis: #dee2e6;
  --bs-primary-bg-subtle: #2f2c04;
  --bs-secondary-bg-subtle: #13190a;
  --bs-success-bg-subtle: #122512;
  --bs-info-bg-subtle: #1e200a;
  --bs-warning-bg-subtle: #302310;
  --bs-danger-bg-subtle: #2a0c00;
  --bs-light-bg-subtle: #343a40;
  --bs-dark-bg-subtle: #1a1d20;
  --bs-primary-border-subtle: #8d840c;
  --bs-secondary-border-subtle: #384c1f;
  --bs-success-border-subtle: #376e37;
  --bs-info-border-subtle: #5a601e;
  --bs-warning-border-subtle: #90682f;
  --bs-danger-border-subtle: #7d2300;
  --bs-light-border-subtle: #495057;
  --bs-dark-border-subtle: #343a40;
  --bs-heading-color: ;
  --bs-link-color: #f3ea72;
  --bs-link-hover-color: #f5ee8e;
  --bs-link-color-rgb: 243, 234, 114;
  --bs-link-hover-color-rgb: 245, 238, 142;
  --bs-code-color: #adb5bd;
  --bs-border-color: #495057;
  --bs-border-color-translucent: rgba(255, 255, 255, 0.15);
  --bs-form-valid-color: #75b798;
  --bs-form-valid-border-color: #75b798;
  --bs-form-invalid-color: #ea868f;
  --bs-form-invalid-border-color: #ea868f;
}
*, *::before, *::after {
  box-sizing: border-box;
}
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
hr {
  margin: 1rem 0;
  color: #a59705;
  border: 0;
  border-top: var(--bs-border-width) solid;
  opacity: 0.25;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 700;
  line-height: 1.2;
  color: var(--bs-heading-color);
}
h1 {
  font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
  h1 {
    font-size: 2.5rem;
  }
}
h2 {
  font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
  h2 {
    font-size: 2rem;
  }
}
h3 {
  font-size: calc(1.3rem + 0.6vw);
}
@media (min-width: 1200px) {
  h3 {
    font-size: 1.75rem;
  }
}
h4 {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  h4 {
    font-size: 1.5rem;
  }
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
abbr[title] {
  text-decoration: underline dotted;
  cursor: help;
  text-decoration-skip-ink: none;
}
address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}
ol, ul {
  padding-left: 2rem;
}
ol, ul, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}
ol ol, ul ul, ol ul, ul ol {
  margin-bottom: 0;
}
dt {
  font-weight: 700;
}
dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}
blockquote {
  margin: 0 0 1rem;
}
b, strong {
  font-weight: bolder;
}
small {
  font-size: 0.875em;
}
mark {
  padding: 0.1875em;
  background-color: var(--bs-highlight-bg);
}
sub, sup {
  position: relative;
  font-size: 0.75em;
  line-height: 0;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
a {
  color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
  text-decoration: none;
}
a:hover {
  --bs-link-color-rgb: var(--bs-link-hover-color-rgb);
  text-decoration: none;
}
a:not([href]):not([class]), a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}
pre, code, kbd, samp {
  font-family: var(--bs-font-monospace);
  font-size: 1em;
}
pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  font-size: 0.875em;
}
pre code {
  font-size: inherit;
  color: inherit;
  word-break: normal;
}
code {
  font-size: 0.875em;
  color: var(--bs-code-color);
  word-wrap: break-word;
}
a > code {
  color: inherit;
}
kbd {
  padding: 0.1875rem 0.375rem;
  font-size: 0.875em;
  color: var(--bs-body-bg);
  background-color: var(--bs-body-color);
  border-radius: 0.25rem;
}
kbd kbd {
  padding: 0;
  font-size: 1em;
}
figure {
  margin: 0 0 1rem;
}
img, svg {
  vertical-align: middle;
}
table {
  caption-side: bottom;
  border-collapse: collapse;
}
caption {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: var(--bs-secondary-color);
  text-align: left;
}
th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}
thead, tbody, tfoot, tr, td, th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}
label {
  display: inline-block;
}
button {
  border-radius: 0;
}
button:focus:not(:focus-visible) {
  outline: 0;
}
input, button, select, optgroup, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button, select {
  text-transform: none;
}
[role="button"] {
  cursor: pointer;
}
select {
  word-wrap: normal;
}
select:disabled {
  opacity: 1;
}
[list]:not([type="date"]):not([type="datetime-local"]):not([type="month"]):not([type="week"]):not([type="time"])::-webkit-calendar-picker-indicator {
  display: none !important;
}
button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
}
button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
  cursor: pointer;
}
::-moz-focus-inner {
  padding: 0;
  border-style: none;
}
textarea {
  resize: vertical;
}
fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
legend {
  float: left;
  width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: calc(1.275rem + 0.3vw);
  line-height: inherit;
}
@media (min-width: 1200px) {
  legend {
    font-size: 1.5rem;
  }
}
legend + * {
  clear: left;
}
::-webkit-datetime-edit-fields-wrapper, ::-webkit-datetime-edit-text, ::-webkit-datetime-edit-minute, ::-webkit-datetime-edit-hour-field, ::-webkit-datetime-edit-day-field, ::-webkit-datetime-edit-month-field, ::-webkit-datetime-edit-year-field {
  padding: 0;
}
::-webkit-inner-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
/* rtl:raw:
[type="tel"],
[type="url"],
[type="email"],
[type="number"] {
  direction: ltr;
}
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-color-swatch-wrapper {
  padding: 0;
}
::file-selector-button {
  font: inherit;
  -webkit-appearance: button;
}
output {
  display: inline-block;
}
iframe {
  border: 0;
}
summary {
  display: list-item;
  cursor: pointer;
}
progress {
  vertical-align: baseline;
}
[hidden] {
  display: none !important;
}
.btn {
  --bs-btn-padding-x: 0.75rem;
  --bs-btn-padding-y: 0.375rem;
  --bs-btn-font-family: ;
  --bs-btn-font-size: 1rem;
  --bs-btn-font-weight: 400;
  --bs-btn-line-height: 1.5;
  --bs-btn-color: var(--bs-body-color);
  --bs-btn-bg: transparent;
  --bs-btn-border-width: var(--bs-border-width);
  --bs-btn-border-color: transparent;
  --bs-btn-border-radius: var(--bs-border-radius);
  --bs-btn-hover-border-color: transparent;
  --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  --bs-btn-disabled-opacity: 0.65;
  --bs-btn-focus-box-shadow: 0 0 0 0.2rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
  display: inline-block;
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  font-family: var(--bs-btn-font-family);
  font-size: var(--bs-btn-font-size);
  font-weight: var(--bs-btn-font-weight);
  line-height: var(--bs-btn-line-height);
  color: var(--bs-btn-color);
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
  border-radius: var(--bs-btn-border-radius);
  background-color: var(--bs-btn-bg);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}
.btn:hover {
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
}
.btn-check + .btn:hover {
  color: var(--bs-btn-color);
  background-color: var(--bs-btn-bg);
  border-color: var(--bs-btn-border-color);
}
.btn:focus-visible {
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
  outline: 0;
  box-shadow: var(--bs-btn-focus-box-shadow);
}
.btn-check:focus-visible + .btn {
  border-color: var(--bs-btn-hover-border-color);
  outline: 0;
  box-shadow: var(--bs-btn-focus-box-shadow);
}
.btn-check:checked + .btn, :not(.btn-check) + .btn:active, .btn:first-child:active, .btn.active, .btn.show {
  color: var(--bs-btn-active-color);
  background-color: var(--bs-btn-active-bg);
  border-color: var(--bs-btn-active-border-color);
}
.btn-check:checked + .btn:focus-visible, :not(.btn-check) + .btn:active:focus-visible, .btn:first-child:active:focus-visible, .btn.active:focus-visible, .btn.show:focus-visible {
  box-shadow: var(--bs-btn-focus-box-shadow);
}
.btn:disabled, .btn.disabled, fieldset:disabled .btn {
  color: var(--bs-btn-disabled-color);
  pointer-events: none;
  background-color: var(--bs-btn-disabled-bg);
  border-color: var(--bs-btn-disabled-border-color);
  opacity: var(--bs-btn-disabled-opacity);
}
.btn-primary {
  --bs-btn-color: #212529;
  --bs-btn-bg: #ebdc14;
  --bs-btn-border-color: #ebdc14;
  --bs-btn-hover-color: #212529;
  --bs-btn-hover-bg: #eee137;
  --bs-btn-hover-border-color: #ede02c;
  --bs-btn-focus-shadow-rgb: 205, 193, 23;
  --bs-btn-active-color: #212529;
  --bs-btn-active-bg: #efe343;
  --bs-btn-active-border-color: #ede02c;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #212529;
  --bs-btn-disabled-bg: #ebdc14;
  --bs-btn-disabled-border-color: #ebdc14;
}
.btn-secondary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #5E7F34;
  --bs-btn-border-color: #5E7F34;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #506c2c;
  --bs-btn-hover-border-color: #4b662a;
  --bs-btn-focus-shadow-rgb: 118, 146, 82;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #4b662a;
  --bs-btn-active-border-color: #475f27;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #5E7F34;
  --bs-btn-disabled-border-color: #5E7F34;
}
.btn-success {
  --bs-btn-color: #212529;
  --bs-btn-bg: #5cb85c;
  --bs-btn-border-color: #5cb85c;
  --bs-btn-hover-color: #212529;
  --bs-btn-hover-bg: #74c374;
  --bs-btn-hover-border-color: #6cbf6c;
  --bs-btn-focus-shadow-rgb: 83, 162, 84;
  --bs-btn-active-color: #212529;
  --bs-btn-active-bg: #7dc67d;
  --bs-btn-active-border-color: #6cbf6c;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #212529;
  --bs-btn-disabled-bg: #5cb85c;
  --bs-btn-disabled-border-color: #5cb85c;
}
.btn-info {
  --bs-btn-color: #212529;
  --bs-btn-bg: #96a032;
  --bs-btn-border-color: #96a032;
  --bs-btn-hover-color: #212529;
  --bs-btn-hover-bg: #a6ae51;
  --bs-btn-hover-border-color: #a1aa47;
  --bs-btn-focus-shadow-rgb: 132, 142, 49;
  --bs-btn-active-color: #212529;
  --bs-btn-active-bg: #abb35b;
  --bs-btn-active-border-color: #a1aa47;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #212529;
  --bs-btn-disabled-bg: #96a032;
  --bs-btn-disabled-border-color: #96a032;
}
.btn-warning {
  --bs-btn-color: #212529;
  --bs-btn-bg: #f0ad4e;
  --bs-btn-border-color: #f0ad4e;
  --bs-btn-hover-color: #212529;
  --bs-btn-hover-bg: #f2b969;
  --bs-btn-hover-border-color: #f2b560;
  --bs-btn-focus-shadow-rgb: 209, 153, 72;
  --bs-btn-active-color: #212529;
  --bs-btn-active-bg: #f3bd71;
  --bs-btn-active-border-color: #f2b560;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #212529;
  --bs-btn-disabled-bg: #f0ad4e;
  --bs-btn-disabled-border-color: #f0ad4e;
}
.btn-danger {
  --bs-btn-color: #fff;
  --bs-btn-bg: #D13B00;
  --bs-btn-border-color: #D13B00;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #b23200;
  --bs-btn-hover-border-color: #a72f00;
  --bs-btn-focus-shadow-rgb: 216, 88, 38;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #a72f00;
  --bs-btn-active-border-color: #9d2c00;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #D13B00;
  --bs-btn-disabled-border-color: #D13B00;
}
.btn-light {
  --bs-btn-color: #212529;
  --bs-btn-bg: #ffffff;
  --bs-btn-border-color: #ffffff;
  --bs-btn-hover-color: #212529;
  --bs-btn-hover-bg: #d9d9d9;
  --bs-btn-hover-border-color: #ccc;
  --bs-btn-focus-shadow-rgb: 222, 222, 223;
  --bs-btn-active-color: #212529;
  --bs-btn-active-bg: #ccc;
  --bs-btn-active-border-color: #bfbfbf;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #212529;
  --bs-btn-disabled-bg: #ffffff;
  --bs-btn-disabled-border-color: #ffffff;
}
.btn-dark {
  --bs-btn-color: #fff;
  --bs-btn-bg: #817804;
  --bs-btn-border-color: #817804;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #948c2a;
  --bs-btn-hover-border-color: #8e861d;
  --bs-btn-focus-shadow-rgb: 148, 140, 42;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #9a9336;
  --bs-btn-active-border-color: #8e861d;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #817804;
  --bs-btn-disabled-border-color: #817804;
}
.btn-outline-primary {
  --bs-btn-color: #ebdc14;
  --bs-btn-border-color: #ebdc14;
  --bs-btn-hover-color: #212529;
  --bs-btn-hover-bg: #ebdc14;
  --bs-btn-hover-border-color: #ebdc14;
  --bs-btn-focus-shadow-rgb: 235, 220, 20;
  --bs-btn-active-color: #212529;
  --bs-btn-active-bg: #ebdc14;
  --bs-btn-active-border-color: #ebdc14;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #ebdc14;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #ebdc14;
  --bs-gradient: none;
}
.btn-outline-secondary {
  --bs-btn-color: #5E7F34;
  --bs-btn-border-color: #5E7F34;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #5E7F34;
  --bs-btn-hover-border-color: #5E7F34;
  --bs-btn-focus-shadow-rgb: 94, 127, 52;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #5E7F34;
  --bs-btn-active-border-color: #5E7F34;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #5E7F34;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #5E7F34;
  --bs-gradient: none;
}
.btn-outline-success {
  --bs-btn-color: #5cb85c;
  --bs-btn-border-color: #5cb85c;
  --bs-btn-hover-color: #212529;
  --bs-btn-hover-bg: #5cb85c;
  --bs-btn-hover-border-color: #5cb85c;
  --bs-btn-focus-shadow-rgb: 92, 184, 92;
  --bs-btn-active-color: #212529;
  --bs-btn-active-bg: #5cb85c;
  --bs-btn-active-border-color: #5cb85c;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #5cb85c;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #5cb85c;
  --bs-gradient: none;
}
.btn-outline-info {
  --bs-btn-color: #96a032;
  --bs-btn-border-color: #96a032;
  --bs-btn-hover-color: #212529;
  --bs-btn-hover-bg: #96a032;
  --bs-btn-hover-border-color: #96a032;
  --bs-btn-focus-shadow-rgb: 150, 160, 50;
  --bs-btn-active-color: #212529;
  --bs-btn-active-bg: #96a032;
  --bs-btn-active-border-color: #96a032;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #96a032;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #96a032;
  --bs-gradient: none;
}
.btn-outline-warning {
  --bs-btn-color: #f0ad4e;
  --bs-btn-border-color: #f0ad4e;
  --bs-btn-hover-color: #212529;
  --bs-btn-hover-bg: #f0ad4e;
  --bs-btn-hover-border-color: #f0ad4e;
  --bs-btn-focus-shadow-rgb: 240, 173, 78;
  --bs-btn-active-color: #212529;
  --bs-btn-active-bg: #f0ad4e;
  --bs-btn-active-border-color: #f0ad4e;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #f0ad4e;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #f0ad4e;
  --bs-gradient: none;
}
.btn-outline-danger {
  --bs-btn-color: #D13B00;
  --bs-btn-border-color: #D13B00;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #D13B00;
  --bs-btn-hover-border-color: #D13B00;
  --bs-btn-focus-shadow-rgb: 209, 59, 0;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #D13B00;
  --bs-btn-active-border-color: #D13B00;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #D13B00;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #D13B00;
  --bs-gradient: none;
}
.btn-outline-light {
  --bs-btn-color: #ffffff;
  --bs-btn-border-color: #ffffff;
  --bs-btn-hover-color: #212529;
  --bs-btn-hover-bg: #ffffff;
  --bs-btn-hover-border-color: #ffffff;
  --bs-btn-focus-shadow-rgb: 255, 255, 255;
  --bs-btn-active-color: #212529;
  --bs-btn-active-bg: #ffffff;
  --bs-btn-active-border-color: #ffffff;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #ffffff;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #ffffff;
  --bs-gradient: none;
}
.btn-outline-dark {
  --bs-btn-color: #817804;
  --bs-btn-border-color: #817804;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #817804;
  --bs-btn-hover-border-color: #817804;
  --bs-btn-focus-shadow-rgb: 129, 120, 4;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #817804;
  --bs-btn-active-border-color: #817804;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #817804;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #817804;
  --bs-gradient: none;
}
.btn-link {
  --bs-btn-font-weight: 400;
  --bs-btn-color: var(--bs-link-color);
  --bs-btn-bg: transparent;
  --bs-btn-border-color: transparent;
  --bs-btn-hover-color: var(--bs-link-hover-color);
  --bs-btn-hover-border-color: transparent;
  --bs-btn-active-color: var(--bs-link-hover-color);
  --bs-btn-active-border-color: transparent;
  --bs-btn-disabled-color: #6c757d;
  --bs-btn-disabled-border-color: transparent;
  --bs-btn-box-shadow: 0 0 0 #000;
  --bs-btn-focus-shadow-rgb: 108, 133, 77;
  text-decoration: none;
}
.btn-link:hover, .btn-link:focus-visible {
  text-decoration: none;
}
.btn-link:focus-visible {
  color: var(--bs-btn-color);
}
.btn-link:hover {
  color: var(--bs-btn-hover-color);
}
.btn-lg {
  --bs-btn-padding-y: 0.5rem;
  --bs-btn-padding-x: 1rem;
  --bs-btn-font-size: 1.25rem;
  --bs-btn-border-radius: var(--bs-border-radius-lg);
}
.btn-sm {
  --bs-btn-padding-y: 0.25rem;
  --bs-btn-padding-x: 0.5rem;
  --bs-btn-font-size: 0.875rem;
  --bs-btn-border-radius: var(--bs-border-radius-sm);
}
.nav {
  --bs-nav-link-padding-x: 1rem;
  --bs-nav-link-padding-y: 0.5rem;
  --bs-nav-link-font-weight: ;
  --bs-nav-link-color: var(--bs-link-color);
  --bs-nav-link-hover-color: var(--bs-link-hover-color);
  --bs-nav-link-disabled-color: var(--bs-secondary-color);
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav-link {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  color: var(--bs-nav-link-color);
  background: none;
  border: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .nav-link {
    transition: none;
  }
}
.nav-link:hover, .nav-link:focus {
  color: var(--bs-nav-link-hover-color);
}
.nav-link:focus-visible {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(235, 220, 20, 0.25);
}
.nav-link.disabled, .nav-link:disabled {
  color: var(--bs-nav-link-disabled-color);
  pointer-events: none;
  cursor: default;
}
.nav-tabs {
  --bs-nav-tabs-border-width: var(--bs-border-width);
  --bs-nav-tabs-border-color: var(--bs-border-color);
  --bs-nav-tabs-border-radius: var(--bs-border-radius);
  --bs-nav-tabs-link-hover-border-color: var(--bs-secondary-bg) var(--bs-secondary-bg) var(--bs-border-color);
  --bs-nav-tabs-link-active-color: #fff;
  --bs-nav-tabs-link-active-bg: #638637;
  --bs-nav-tabs-link-active-border-color: var(--bs-border-color) var(--bs-border-color) #638637;
  border-bottom: var(--bs-nav-tabs-border-width) solid var(--bs-nav-tabs-border-color);
}
.nav-tabs .nav-link {
  margin-bottom: calc(-1 * var(--bs-nav-tabs-border-width));
  border: var(--bs-nav-tabs-border-width) solid transparent;
  border-top-left-radius: var(--bs-nav-tabs-border-radius);
  border-top-right-radius: var(--bs-nav-tabs-border-radius);
}
.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
  isolation: isolate;
  border-color: var(--bs-nav-tabs-link-hover-border-color);
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: var(--bs-nav-tabs-link-active-color);
  background-color: var(--bs-nav-tabs-link-active-bg);
  border-color: var(--bs-nav-tabs-link-active-border-color);
}
.nav-tabs .dropdown-menu {
  margin-top: calc(-1 * var(--bs-nav-tabs-border-width));
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.nav-pills {
  --bs-nav-pills-border-radius: var(--bs-border-radius);
  --bs-nav-pills-link-active-color: #fff;
  --bs-nav-pills-link-active-bg: #5E7F34;
}
.nav-pills .nav-link {
  border-radius: var(--bs-nav-pills-border-radius);
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: var(--bs-nav-pills-link-active-color);
  background-color: var(--bs-nav-pills-link-active-bg);
}
.nav-underline {
  --bs-nav-underline-gap: 1rem;
  --bs-nav-underline-border-width: 0.125rem;
  --bs-nav-underline-link-active-color: var(--bs-emphasis-color);
  gap: var(--bs-nav-underline-gap);
}
.nav-underline .nav-link {
  padding-right: 0;
  padding-left: 0;
  border-bottom: var(--bs-nav-underline-border-width) solid transparent;
}
.nav-underline .nav-link:hover, .nav-underline .nav-link:focus {
  border-bottom-color: currentcolor;
}
.nav-underline .nav-link.active, .nav-underline .show > .nav-link {
  font-weight: 700;
  color: var(--bs-nav-underline-link-active-color);
  border-bottom-color: currentcolor;
}
.nav-fill > .nav-link, .nav-fill .nav-item {
  flex: 1 1 auto;
  text-align: center;
}
.nav-justified > .nav-link, .nav-justified .nav-item {
  flex-basis: 0;
  flex-grow: 1;
  text-align: center;
}
.nav-fill .nav-item .nav-link, .nav-justified .nav-item .nav-link {
  width: 100%;
}
.tab-content > .tab-pane {
  display: none;
}
.tab-content > .active {
  display: block;
}
body.layout_social.tiki.navbar-padding {
  padding-top: 2.72rem;
  padding-bottom: 0;
}
.bg-dark {
  background-color: #332f02 !important;
  color: #fff;
}
.bg-dark .btn-outline-info {
  color: #00DAE6;
}
.btn-outline-dark {
  color: #817804;
  outline-color: #817804;
}
.tiki .wiki.external + .icon-link-external, .tiki .wiki.external .icon-link-external, .editable-inline .icon {
  color: var(--bs-link-color);
}
hr {
  border-top: 1px solid #a59705;
}
.table th, .table td {
  border-top: 1px solid #dbd11a;
}
.table > thead > tr > th {
  border-bottom: 2px solid #dbd11a;
}
.table > tbody + tbody {
  border-top: 2px solid #dbd11a;
}
.table .table {
  background-color: #ffffff;
}
.table .table-bordered {
  border: 1px solid #dbd11a;
}
.table .table-bordered th, .table .table-bordered td {
  border: 1px solid #dbd11a;
}
.table .table-striped > tbody > tr:nth-child(odd) > td, .table .table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}
.table .table-hover > tbody > tr:hover > td, .table .table-hover > tbody > tr:hover > th {
  background-color: #dbd11a;
}
.form-control {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  background-image: none;
  border: 1px solid var(--bs-border-color);
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
  color: #a59705;
  background-color: #eeeeee;
  border-color: #dddddd;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  color: #ffffff;
  background-color: #5E7F34;
  border-color: #638637;
}
.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
  color: #999999;
  background-color: #ffffff;
  border-color: #dddddd;
}
.col2 .card-header, .col3 .card-header {
  border-bottom: 1px solid #332f02;
}
header.page-header {
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: none;
}
header.page-header a:not(.dropdown-item), header.page-header a.btn-link {
  color: #000;
}
.form-control, select, input[type="text"], input[type="password"], input[type="file"], input[type="email"], input[type="search"], input[type="number"], input#login-pass, textarea, .adminoptionbox option {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
}
#footer {
  background: black;
  color: #f4f4f4;
  padding: 1px 0 2px 0;
  width: 100%;
}
.footer {
  border-top: 1px solid #ebdc14;
  border-bottom: 1px solid #ebdc14;
}
.footer_liner .card {
  background-color: transparent;
  border: none;
}
.footer_liner .card-header {
  color: #ffffff;
  border-bottom: 1px dotted #ebdc14;
}
.footer_liner legend, .footer_liner a:not(.btn), .footer_liner a:not(.btn):visited {
  color: #a9a9a9;
}
.nav-tabs .nav-link {
  color: #000;
  background-color: #f8f9d4;
  border-color: #dee2e6 #dee2e6 #ffffff;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #fff;
  background-color: #638637;
}
.blog-postbody-title h2.panel-title {
  font-size: 20px;
}
.postbody-title .card-title {
  color: #fff;
}
header.header .sitetitle, header.header .sitesubtitle {
  text-shadow: none;
}
.searchresults blockquote em, .highlight {
  background: #f2dede;
  color: #a94442;
  border-color: #ebccd1;
}
.topbar .navbar-nav > li > a, .topbar .navbar > li > a {
  color: #ffffff;
}
#autotoc .nav-link.active, #autotoc .nav-link.active:hover, #autotoc .nav-link.active:focus {
  border-left-color: #ebdc14 !important;
}
#autotoc .nav > li > a:hover, #autotoc .nav > li > a:focus {
  border-left-color: #5E7F34 !important;
}
#col2 .card-title, #col3 .card-title, a.flipmoduletitle, #col2 .card-secondary > .card-header a, #col3 .card-secondary > .card-header a {
  color: #7E7615;
}
footer#footer .footer_liner {
  border-top: 1px solid #ebdc14;
  border-bottom: 1px solid #ebdc14;
}
footer#footer .footer_liner .card-header {
  border-bottom: 1px dotted #ebdc14;
}
.btn-dark {
  color: #ffffff;
  background: #817804;
  border-color: #817804;
}
.page-item.disabled, .list-group-item.disabled {
  color: var(--bs-secondary-color) !important;
}
.navbar {
  --bs-navbar-padding-y: 0.5rem;
}
.layout_classic .header_container {
  box-shadow: inset 0 44px 0 0 #6f853a;
}
.layout_classic .page-header .navbar {
  padding-top: 0;
  padding-bottom: 0;
}
.layout_classic .page-header .bg-dark {
  background: #6f853a !important;
}
.top_modules .module:not(.box-login_box):first-child {
  margin-top: calc(var(--bs-navbar-padding-y) * -1) !important;
  margin-bottom: calc(var(--bs-navbar-padding-y) * -1) !important;
  padding-top: var(--bs-navbar-padding-y);
  padding-bottom: var(--bs-navbar-padding-y);
  padding-left: 15px;
  padding-right: var(--tiki-fivealive-classic-logo-module-padding-right);
}
.top_modules .module:not(.box-login_box):first-child {
  background: url("../images/siteheader2.png") no-repeat top right !important;
  margin-left: -15px !important;
  color: #817804 !important;
}
.top_modules .module:not(.box-login_box):first-child a {
  color: #817804 !important;
}
.layout_classic .sitetitle, .layout_classic .sitetitle a, .layout_classic .sitesubtitle {
  color: #000 !important;
}
.layout_classic .page-header .nav-link {
  color: #fff;
}
.tiki .select2-container--bootstrap-5 .select2-selection {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
}
.tiki .select2-container--bootstrap-5 .select2-selection--single .select2-selection__rendered, .tiki .select2-container--bootstrap-5 .select2-dropdown .select2-results__options .select2-results__option {
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
}
.tiki .select2-container--bootstrap-5 .select2-dropdown {
  background-color: var(--bs-body-bg);
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
}
.tiki .select2-results__options .select2-results__option {
  color: var(--bs-body-color);
  background: var(--bs-body-bg);
}
.tiki .select2-container--bootstrap-5 .select2-dropdown .select2-search .select2-search__field {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border: 1px solid var(--bs-border-color);
  border-radius: 0.25rem;
  transition: var(--bs-border-color) 0.15s ease-in-out, inset 0 1px 2px rgba(0, 0, 0, 0.075) 0.15s ease-in-out;
}
.tiki .select2-container--bootstrap-5 .select2-dropdown .select2-results__options .select2-results__option.select2-results__option--selected, .tiki .select2-container--bootstrap-5 .select2-dropdown .select2-results__options .select2-results__option[aria-selected="true"] {
  color: #fff;
  background-color: #ebdc14;
}

