/* Bootswatch theme adapted by the Tiki Community for Tiki Wiki CMS Groupware */
/* Original Bootswatch information:
 * bootswatch v5.2.0
 * Homepage: http://bootswatch.com
 * Copyright 2012-2022 Thomas Park
 * Licensed under MIT
 * Based on Bootstrap
 *
 * Adapted by the Tiki Community for Tiki Wiki CMS Groupware
*/

@import "../../base_files/scss/_tiki-bootstrap_functions";

@import "variables";
@import "variables-dark";
@import "../../../vendor_bundled/vendor/twbs/bootstrap/scss/bootstrap.scss";
@import "../../base_files/scss/_tiki-variables.scss"; // Values/definitions for Tiki variables (outside of Bootstrap variables) such as _tiki-selectors.scss.
@import "../../../vendor_bundled/vendor/thomaspark/bootswatch/dist/spacelab/bootswatch";
//@import "../../base_files/scss/_tiki-bootstrap_layout_and_components";
@import "css-variables"; // Needs to be loaded after default variables to override them

@import "../../base_files/scss/_tiki-selectors.scss";
@import "../../base_files/scss/_tiki-pagetop_colors.scss"; // Import if needed to specify top and topbar zone colors in more detail
@import "../../base_files/scss/_external-scripts.scss";
@import "../../base_files/scss/_select2-tiki_colors.scss";


.topbar .navbar {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.topbar_modules > * {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

// Replicate navbar color used on Bootswatch sample page, in that case for bg-primary
//.tiki .navbar-dark.bg-dark {
//    background-image: linear-gradient(#6d94bf, #446e9b 50%, #3e648d) !important;
//    -webkit-filter: none;
//    filter: none;
//    border: 1px solid #345578;
//    nav#topbar_modules,
//    #topbar_modules .navbar.navbar-dark.bg-dark {
//        background: transparent !important;
//        background-image: none !important;
//        border: none !important;
//    }
//}

.tiki .navbar-light.bg-light {
    background-image: linear-gradient(white, #eee 50%, #e4e4e4) !important;
    -webkit-filter: none;
    filter: none;
    border: 1px solid #d5d5d5;
    nav#topbar_modules,
    #topbar_modules .navbar.navbar-light.bg-light {
        background: transparent !important;
        background-image: none !important;
        border: none !important;
    }
}
.navbar {
    --bs-navbar-color: #{$link-color};
}

.navbar:not(.bg-dark,.bg-light) {
    .nav-link {
        color: var(--bs-link-color);
        &:hover,
        &:active,
        & .highlighted {
            color: var(--bs-link-hover-color);
        }
    }
}