/* Superhero theme newsletter stylesheet */
$web-font-path: "https://fonts.googleapis.com/css?family=Lato:300,400,700";

@import "../../base_files/scss/newsletter.scss";
@import "../../../vendor_bundled/vendor/thomaspark/bootswatch/dist/superhero/variables";

$font-family-sans-serif:  "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-base:        $font-family-sans-serif;
$font-size-base:          15px;
