//Custom styles for the Tikipedia theme.
// - - - - - - - Bootstrap variables (override values in vendor_bundled/vendor/twbs/bootstrap/scss/_variables.scss - - - - - - //

// Color system

// scss-docs-start gray-color-variables
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;
// scss-docs-end gray-color-variables

// fusv-disable
// scss-docs-start gray-colors-map
$grays: (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
) !default;
// scss-docs-end gray-colors-map

// scss-docs-start color-variables
$blue:    #0d6efd !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #d63384 !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #198754 !default; // Bootstrap 5.3
$teal:    #20c997 !default;
$cyan:    #0dcaf0 !default;
// scss-docs-end color-variables

// scss-docs-start colors-map
$colors: (
    "blue":       $blue,
    "indigo":     $indigo,
    "purple":     $purple,
    "pink":       $pink,
    "red":        $red,
    "orange":     $orange,
    "yellow":     $yellow,
    "green":      $green,
    "teal":       $teal,
    "cyan":       $cyan,
    "black":      $black,
    "white":      $white,
    "gray":       $gray-600,
    "gray-dark":  $gray-800
) !default;
// scss-docs-end colors-map

$green-300: tint-color($green, 40%) !default;
$red-300: tint-color($red, 40%) !default;

$primary: #3366cc;
$secondary: #f8f9fa;
$success: #bbfa7c;
$info: #abd5f5;
$warning: #fad67d;
$danger: #d9534f;

$theme-colors: (
      "primary":            #3366cc,
      "secondary":         #f8f9fa,
     "success":             #bbfa7c,
      "info":               #abd5f5,
      "warning":             #fad67d,
     "danger":              #d9534f,
     "light":            #ffffff,
     "dark":                #000000
);

// scss-docs-start theme-colors-map
$theme-colors: (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark
) !default;
// scss-docs-end theme-colors-map

// scss-docs-start theme-text-variables
$primary-text-emphasis:   shade-color($primary, 60%) !default;
$secondary-text-emphasis: shade-color($secondary, 60%) !default;
$success-text-emphasis:   shade-color($success, 60%) !default;
$info-text-emphasis:      shade-color($info, 60%) !default;
$warning-text-emphasis:   shade-color($warning, 60%) !default;
$danger-text-emphasis:    shade-color($danger, 60%) !default;
$light-text-emphasis:     $gray-700 !default;
$dark-text-emphasis:      $gray-700 !default;
// scss-docs-end theme-text-variables

// scss-docs-start theme-bg-subtle-variables
$primary-bg-subtle:       tint-color($primary, 80%) !default;
$secondary-bg-subtle:     tint-color($secondary, 80%) !default;
$success-bg-subtle:       tint-color($success, 80%) !default;
$info-bg-subtle:          tint-color($info, 80%) !default;
$warning-bg-subtle:       tint-color($warning, 80%) !default;
$danger-bg-subtle:        tint-color($danger, 80%) !default;
$light-bg-subtle:         mix($gray-100, $white) !default;
$dark-bg-subtle:          $gray-400 !default;
// scss-docs-end theme-bg-subtle-variables

// scss-docs-start theme-border-subtle-variables
$primary-border-subtle:   tint-color($primary, 60%) !default;
$secondary-border-subtle: tint-color($secondary, 60%) !default;
$success-border-subtle:   tint-color($success, 60%) !default;
$info-border-subtle:      tint-color($info, 60%) !default;
$warning-border-subtle:   tint-color($warning, 60%) !default;
$danger-border-subtle:    tint-color($danger, 60%) !default;
$light-border-subtle:     $gray-200 !default;
$dark-border-subtle:      $gray-500 !default;
// scss-docs-end theme-border-subtle-variable
$body-color: $gray-900;
$body-secondary-color:      rgba($body-color, .75) !default;
$body-secondary-bg:         $gray-200 !default;

$body-tertiary-color:       rgba($body-color, .5) !default;
$body-tertiary-bg:          $gray-100 !default;

$body-emphasis-color:       $black !default;



// Options
// Prefix for :root CSS variables
$prefix:             bs- !default; // Deprecated in v5.2.0 for the shorter `$prefix`

// Spacing

// Body
$body-bg: #f6f6f6;
$body-color: #252525;

$body-secondary-color:      rgba($body-color, .75) !default;
$body-secondary-bg:         $gray-200 !default;

$body-tertiary-color:       rgba($body-color, .5) !default;
$body-tertiary-bg:          $gray-100 !default;

$body-emphasis-color:       $black !default;
// Links
$link-color: #0645ad;
$link-shade-percentage:                   20% !default; // Bootstrap 5.3
$link-hover-color:      $link-color;

// Components
$border-radius:          0px;
$border-radius-lg:       4px;
$border-radius-sm:       0px;

// Fonts
$font-size-base: 1rem; // .85rem;
$font-family-sans-serif:  sans-serif;
$h1-font-size:            1.87rem;
$h2-font-size:            1.75rem;
$h3-font-size:            1.3125rem;
$h4-font-size:            1.0625rem;
$line-height:        1.5;
$headings-font-family:    "Linux Libertine", Georgia, Times, serif;
$headings-line-height:    1.3;

// Tables
$table-bg:                      #fff;
$table-border-color:            #aaa;
//$table-bg-accent: darken(#474747,5%);
//$table-bg-hover: #555555;
//$table-bg-active: $table-bg-hover;
//$table-head-bg: #292929;

// Buttons
//$btn-primary-color:              $body-color; These variables don't exist in BS4
//$btn-primary-bg:                 #e1e1e1;
//$btn-secondary-border:            #a2a9b1;
//$btn-success-color:              $body-color;
//$btn-info-color:                 $body-color;
//$btn-warning-color:              $body-color;

// Forms
// Form validation
// Z-index master list
// Navs (four below added for Bootstrap 53)
$nav-link-color:                    var(--#{$prefix}link-color) !default;
$nav-link-hover-color:              var(--#{$prefix}link-hover-color) !default;
$nav-link-transition:               color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out !default;
$nav-link-disabled-color:           var(--#{$prefix}secondary-color) !default;
$nav-link-font-size:                0.8rem;

// Navbar (four below added for Bootstrap 53)
$navbar-light-color:                rgba(var(--#{$prefix}emphasis-color-rgb), .65) !default;
$navbar-light-hover-color:          rgba(var(--#{$prefix}emphasis-color-rgb), .8) !default;
$navbar-light-active-color:         rgba(var(--#{$prefix}emphasis-color-rgb), 1) !default;
$navbar-light-disabled-color:       rgba(var(--#{$prefix}emphasis-color-rgb), .3) !default;

$navbar-dark-color:                 rgba($white, .55) !default;
$navbar-dark-hover-color:           rgba($white, .75) !default;
$navbar-dark-active-color:          $white !default;
$navbar-dark-disabled-color:        rgba($white, .25) !default;


// Navbarlinks ??
//$navbar-dark-color:                 rgba($black, .5) !default;
$navbar-dark-hover-color:           rgba($white, .75);
//$navbar-dark-active-color:          $black !default;
$navbar-dark-disabled-color:        rgba($black, .25) !default;
$navbar-dark-toggler-icon-bg:       str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$navbar-dark-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"), "#", "%23") !default;
$navbar-dark-toggler-border-color:  rgba($black, .1) !default;
$navbar-light-color:                rgba($black, .5) !default;
$navbar-light-hover-color:          rgba($black, .7) !default;
// Pagination
// Jumbotron
// Cards
//$card-border-radius: $border-radius-lg;
//$card-text: #fff;//@gray-lighter;
//$card-heading-bg: #386dbb;

// Tooltips
// Popovers
// Badges
// Modals
//$modal-header-border-color: #386dbb;
// $modal-content-bg
// Alerts
// Progress bars
// List group
// Image thumbnails
// Figures
// Breadcrumbs
$breadcrumb-bg:                 transparent;
// Carousel
// Close
// Code
$code-color:                        $pink !default; // Bootstrap 5.3
$label-color:                 $body-color;
$enable-gradients: yes;

// - - - - - - - - - -  - - - - - - Other variables, if any - - - - - - - - - - - - - - - - - //