$imagePathtoImg: "../../../img/";

//***** File Galleries *****/
body.filegal_popup #tiki-center {
    margin: 0 1em;
}

.thumbinfosothers {
    //    color: $gray-300;// #888
    font-size: 95%;
}

.thumbdescription {
    text-align: left;
}

/* ColorBox */
#cboxTitle div {
    overflow: auto;
    margin: 3px 100px 0;
}

#cboxContent,
#cboxLoadedContent {
    min-width: 1.4%;
}

//* treeTable definitions - used in object-perms so far */

table.treetable {
    padding-left: 19px;
    width: 100%;
}

.treetable .checkBoxHeader {
    font-size: .8em;
}

table.treetable.objectperms span.indenter {
    display: inline;
    width: auto;
}

table.treetable.objectperms .subHeader td {
    font-weight: bold;
}

table.treetable .checkBoxHeader {
    width: 5em;
    white-space: nowrap;
}

table.treetable tr.collapsed span.indenter a {
    background-image: url('#{$imagePathtoImg}toggle-expand-dark.png');
}

table.treetable tr.expanded span.indenter a {
    background-image: url('#{$imagePathtoImg}toggle-collapse-dark.png');
}

// table.treetable.objectperms td.added {
//     background-color: $state-success-bg// #dfd
// }

// table.treetable.objectperms td.removed {
//     background-color: $state-warning-bg; // #fdd
// }

//* tree browser */

.tree {
    list-style: none;
}

.thumbnailcontener {
    //    border: solid 1px $thumbnail-border; // #d3d3d3
    margin: 1px;
//    padding: 2px;
    text-align: center;
    display: block;
    vertical-align: top;
}

.thumbnailcontener .thumbnail {display: block;}

.tree li {
    display: block;
    width: 98%;
}

.tree li ul li {
    width: auto;
}

//* treeTable definitions - used in object-perms so far */
.treeTable .subHeader td {
    font-weight: bold;
}

.treeTable .parent td {
    font-style: italic;
}

.podcast {
    margin-left: -25px;
}

.podcast .moduledescription {
    margin-left: 25px;
}

//* FileGals Flash Upload */
.flashButton {
    display: inline;
    overflow: hidden;
}

.flashButtonText {
    position: absolute;
    z-index: 1;
}

.flashButton object {
    opacity: 0;
    position: absolute;
    z-index: 2;
}

//* FileGals Upload Progress Bar */

.progressName {
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    font-weight: bold;
}

.progressBarInProgress,
.progressBarComplete,
.progressBarError {
    width: 0;
    height: 20px;
    //    background-color: $state-info-text;
    margin-top: 2px;
    color: white;
    text-align: center;
    font-weight: bold;
}

.progressBarComplete {
    width: 100%;
    //    background-color: $state-success-text;
    visibility: hidden;
}

.progressBarError {
    width: 100%;
    //    background-color: $state-warning-text;
    visibility: hidden;
}

.progressBarStatus {
    margin-top: 2px;
    width: 337px;
    text-align: left;
    white-space: nowrap;
}

.progressWrapper {
    width: 357px;
    overflow: hidden;
}

.progressContainer {
    margin: 5px;
    padding: 4px;
    //    border: solid 1px $modal-content-border-color;
    //    background-color: $modal-content-bg;
    overflow: hidden;
}

#fgalexplorer > div > ul {
    padding: 0;
    margin: 0;
}

#fgalexplorer > div > ul ul {
    padding-left: 16px;
}

/* additions for jquery file upload */

.files .file-list {
    //overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.files .file-list .file-to-upload {
    display: inline-block;
    width: 120px;
    overflow: hidden;
    padding: 10px;
    text-overflow: ellipsis;
}

.files .file-list .file-to-upload span {
    font-size: x-small;
}

.files .file-list .file-to-upload span.text-danger{
    white-space: normal;
    display: block;
}

.files .file-list .file-to-upload code {
    font-size: x-small;
    white-space: normal;
}

.files .file-list .buttons {
    clear: both;
    margin: 10px;
}

.files .file-list span.icon {
    font-size: 90px;
    width: 100px;
    height: 100px;
}

.file-uploader {
    border: dotted 2px $input-border-color;
}

.file-uploader.active {
    border-style: dashed;
}

@media (max-width: breakpoint-max(sm)) {
    #fgalform {
        .media { display: block; }
        [id*="uploadinfos"] .text-right {
            text-align: left !important;
            margin-top: 0.5rem;
        }
    }
}
