/* Strasa theme newsletter stylesheet */
@import "../../base_files/scss/newsletter.scss";
@import "variables";

h1 {
    color: #000000;
    line-height: .9em;
}
h2 {
    color: #309fc0;
    line-height: .9em;
    border-bottom: solid 1px #3090c0;
    text-transform: uppercase;
}
h3 {
    color: #303030;
    font-style: italic;
}
h3.panel-title {
    font-style: normal;
}
h4 {
    border-bottom: dashed 1px #ccf0ff;
    color: #3f3f3f;
}
h5 {
    color: #6f6f6f;
    font-style: italic;
}
h6 {
    color: #909090;
}
