// This file is for additional SCSS rules beyond what are in _variables.scss.

// Image path example:
$imagePath: "../images/";
// body {
//    background-image: url('#{$imagePath}bg.jpg');
// }

// Improve color contrast for readability
.alert-info,
.alert-success,
.alert-danger {
    color: #fff;
    .alert-link {
        color: #fff;
    }
}

//
button.dropdown-toggle + .dropdown-menu  .btn.dropdown-item {
    border-radius: 0;
    background-color: transparent; }

.tiki .textarea-toolbar > div,
.tiki .textarea-toolbar > ul {
    border: none !important;
}