/* Lumen theme newsletter stylesheet */
$web-font-path: "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic" !default;
@import url($web-font-path);

@import "../../base_files/scss/newsletter.scss";
@import "../../../vendor_bundled/vendor/thomaspark/bootswatch/dist/lumen/variables";

$font-family-sans-serif:  "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-base:        $font-family-sans-serif;
$font-size-base:          14px;
