{title help="Forums" admpage="forums"}{$forum_info.name}{/title}
<h4>
    {tr}Reported messages{/tr}
    <span class="badge bg-secondary">{$cant}</span>
    {icon name="refresh" href="tiki-forums_reported.php?forumId=$forumId" class="btn btn-link tips" title=":{tr}Refresh list{/tr}"}
</h4>

{* FILTERING FORM *}
{if $items or ($find ne '')}
    <form action="tiki-forums_reported.php" method="post" class="form">
        <div class="mb-3 row">
            <input type="hidden" name="forumId" value="{$forumId|escape}">
            <input type="hidden" name="offset" value="{$offset|escape}">
            <input type="hidden" name="sort_mode" value="{$sort_mode|escape}">
            <div class="input-group">
                <input type="text" class="form-control" name="find" value="{$find|escape}" placeholder="{tr}Find{/tr}...">
                <button type="submit" class="btn btn-primary" name="filter">{tr}Filter{/tr}</button>
            </div>
        </div>
    </form>
{/if}
{*END OF FILTERING FORM *}

{*LISTING*}
<form action="tiki-forums_reported.php" method="post">
    {ticket}
    <input type="hidden" name="forumId" value="{$forumId|escape}">
    <input type="hidden" name="offset" value="{$offset|escape}">
    <input type="hidden" name="sort_mode" value="{$sort_mode|escape}">
    <input type="hidden" name="find" value="{$find|escape}">
    <table class="table table-hover">
        <tr>
            {if $items}
                <th></th>
            {/if}
            <th>{tr}Message{/tr}</th>
            <th>{tr}Reported by{/tr}</th>
        </tr>

        {section name=ix loop=$items}
            <tr>
                <td class="checkbox-cell">
                    <div class="form-check">
                        <input type="checkbox" name="msg[{$items[ix].threadId}]">
                    </div>
                </td>
                <td class="text">
                    {object_link id=$items[ix].threadId type=forumpost} (thread {$items[ix].threadId})
                </td>
                <td style="text-align:left;">
                    {$items[ix].user|username}
                </td>
            </tr>
        {sectionelse}
            {norecords _colspan=2}
        {/section}
    </table>
    {if $items}
        {tr}Perfom action with checked:{/tr} <input type="submit" class="btn btn-warning btn-sm" name="del" value=" {tr}Un-report{/tr} ">
    {/if}

</form>
{* END OF LISTING *}

{pagination_links cant=$cant_pages step=$prefs.maxRecords offset=$offset}{/pagination_links}
