/* Bootswatch theme adapted by the Tiki Community for Tiki Wiki CMS Groupware */
/* Original Bootswatch information:
 * bootswatch v5.2.0
 * Homepage: http://bootswatch.com
 * Copyright 2012-2022 Thomas Park
 * Licensed under MIT
 * Based on Bootstrap
 *
 * Adapted by the Tiki Community for Tiki Wiki CMS Groupware
*/

@import "../../base_files/scss/_tiki-bootstrap_functions";

@import "variables";
@import "variables-dark";
@import "../../../vendor_bundled/vendor/twbs/bootstrap/scss/bootstrap.scss";
@import "../../base_files/scss/_tiki-variables.scss"; // Values/definitions for Tiki variables (outside of Bootstrap variables) such as _tiki-selectors.scss.
@import "../../../vendor_bundled/vendor/thomaspark/bootswatch/dist/sketchy/bootswatch";
//@import "../../base_files/scss/_tiki-bootstrap_layout_and_components";
@import "css-variables"; // Needs to be loaded after default variables to override them

@import "../../base_files/scss/_tiki-selectors.scss";
@import "../../base_files/scss/_tiki-pagetop_colors.scss"; // Import if needed to specify top and topbar zone colors in more detail
@import "../../base_files/scss/_external-scripts.scss";
@import "../../base_files/scss/_select2-tiki_colors.scss";

// fix position and appearance of outline of checkbox/radio buttons
[type="checkbox"], [type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
}

[type="checkbox"].form-check-input {
    &:before { position: static; }
    &:after { top: 0.1em; left: 0.15em; }
}

.form-check-inline {
    [type="checkbox"].form-check-input {
        &:before { position: absolute; top: -0.4em; left: 0; }
        &:after { top: -0.15em; left: 0.15em; }
    }
}

.table-responsive .table {
    tr th {
        [type="checkbox"].form-check-input {
            &:before { position: absolute; top: 0; left: -0.6em; }
            &:after { top: 0.15em; left: -0.24em; }
        }
    }
    tr td {
        [type="checkbox"].form-check-input {
            &:before { position: absolute; }
            &:after { top: -0.48em; left: -0.66em; }
        }
    }
}

.dropdown-item:hover a { background-color: #333; color: #fff; }
.autotoc .nav {
    &, & .nav {
        > li > a:hover { background-color: #333; color: #fff; }
    }
}

// Increase navbar height to reinstate Bootswatch style
.topbar_modules > * {
    margin-top: .5rem;
    margin-bottom: .5rem;
}
// Make links visible in dark mode
#col2 .navbar {
    background: transparent;
    .nav-link {
        color: var(--tiki-vert-nav-link-color);
        &:hover {
            color: var(--tiki-vert-nav-link-hover-color);
        }
    }
}